*{
margin: 0;
padding:0;
border: 0;
}

body {
    text-align: center;
}

#wrapper {
    background-color: white;
    margin: 0 auto;
    width: 960px;/*---or %---*/
    height: auto;
    padding: 100px;
    box-sizing: border-box;/*padding*/
}

#box	{
width: 100px;
height: 100px;
background: pink;
/*animation: dog 3s ease-in 0s 3;*/

/*long hand below*/
animation-name: dog;
animation-duration: 3s;
animation-timing-function: ease;
animation-delay: 0s;
animation-iteration-count: 3; /*infinate*/
animation-direction: normal;		/*reverse*/
animation-fill-mode: forwards;	/**/
animation-status:  running;
}

@keyframes dog	{
	
	0%		{
				width: 100px;	
				}

	30%,	70%	{	
				height:200px;						
				}	
										
	100%		{	
				height: 300px;						
				}	
}



/*
pause

@keyframes dog	{
	
	0%		{
				width: 100px;	
				}

	30%,	70%	{	
				height:200px;						
				}	
										
	100%		{	
				height: 300px;						
				}	
}
*/
