#splash {
	position: absolute;
	width: 1000px;
	height: 2000px;
	background-color: #F5F5F5;
}

#splashinner {
	position: absolute;
	top: 190px;
	left: 100px;
	width: 800px;
	height: 300px;
	background-color: #f5f5f5;
	border-radius: 10px;
	box-shadow: 0px 10px 10px #696969;
	font-family: 'Homemade Apple';
	/*google fonts*/
	font-size: 36px;
	line-height: 300px;
	color: gray;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Antic';
	color: #808080;
}

body {
	background-color: #F5F5F5;
	text-align: center;
}

#wrapper {
	background-color: #F5F5F5;
	margin: 0 auto;
	width: 1000px;
	height: auto;
}

header {
	background: #f5f5f5;
	width: 1000px;
	height: 150px;
}

#headinner {
	color: #f5f5f5;
	margin-top: 0px;
	line-height: 8px;
	padding-top: 65px;
}

#headinner a {
	font-size: 14px;
}

nav {
  width: 1000px;
  height: 40px;
  background-color: #F5F5F5;
  margin: 0 auto;
  z-index: 1;
}

nav ul {
  height: 36px;
  width: 1000px;
  padding-left: 15%;
  background-color: #F5F5F5;
  box-sizing: border-box;
}

nav li {
  list-style-type: none;
  width: 100px;
  float: left;
  text-align: center;
}

nav li a {
  text-decoration: none;
  font-family: 'Antic';
  font-size: 16px;
  font-weight: 500;
  display: block;
  line-height: 38px;
}

.fixed {
	position: fixed;
	top: 0;
}

.nav-placeholder {
	margin-left: 0px;
}

.link1 a:hover {
	border-bottom: solid black 2px;
}

.link2 a:hover {
	border-bottom: solid #003EFF 2px;
}

.link3 a:hover {
	border-bottom: solid #FF00FF 2px;
}

.link4 a:hover {
	border-bottom: solid #00FF00 2px;
}

.link5 a:hover {
	border-bottom: solid #003EFF 2px;
}

.link6 a:hover {
	border-bottom: solid #FF0000 2px;
}

.link7 a:hover {
	border-bottom: solid lime 2px;
}


/*main*/

section {
	background-color: white;
	height: auto;
	width: 860px;
	margin: 0 auto;
	padding: 50px;
	color: #808080;
	box-shadow: 0px 14px 20px #696969;
	box-sizing: border-box;
	/*nice fix*/
}

legend {
	font-family: 'Antic';
	font-size: 16px;
	padding: 5px;
}

fieldset {
	text-align: left;
	border: 2px solid #808080;
	border-radius: 6px;
	height: auto;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 25px;
	margin-bottom: 10px;
}

p {
	font-family: 'Antic';
	font-size: 14px;
}

a {
	font-family: 'Antic';
	font-size: 14px;
	text-decoration: none;
}

li {
	display: block;
	font-family: 'Antic';
	font-size: 14px;
}

td {
	font-size: 14px;
	font-family: 'Antic';
}

table {
	table-layout: fixed;
	margin-left: 80px;
	line-height: 28px;
}

.tablecol {
	width: 240px;
}


/*footer*/

footer {
	clear: both;
	width: 1000px;
	height: 40px;
	background-color: #F5F5F5;
	margin: 0 auto;
	margin-top: 50px;
}

footer ul {
	height: 100px;
	width: 1000px;
	margin: 0 auto;
	background-color: #F5F5F5;
}

footer li {
	list-style-type: none;
	width: 80px;
	display: inline-block;
}

footer li a {
	text-decoration: none;
	font-weight: 500;
	font-family: 'Antic';
	font-size: 14px;
	display: block;
}

.design a {
	text-decoration: none;
	font-size: 12px;
	font-family: 'Antic';
	color: blue;
}

#design {
	padding-top: 30px;
	padding-bottom: 70px;
}

#design p {
	font-size: 8px;
	font-family: 'Homemade Apple';
	line-height: 6px;
}

.pipe {
	width: 10px;
	height: 10px;
}