*{
margin: 0;
padding:0;
border: 0;
}

body {
	color: white;
}

#wrapper	{
	text-align: center;
}

.loader {
  /*border: 12px solid black;*/
  border-radius: 50%;
  border-top: 12px solid blue;
  border-right: 12px solid green;
  border-bottom: 12px solid red;
  border-left: 12px solid pink;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}