<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="robots" content="noindex,nofollow">
	<meta name="keywords" content=""/>
	<meta name="description" content="">
	<meta name="author" content="me"/>

  <link rel="stylesheet" href="css/css.css" />
  <link rel="stylesheet" href="ui/jquery-ui.css" /><!--jquery-->
  <link rel="stylesheet" href="ui/jquery-ui.structure.css"/><!--jquery-->
  <link rel="stylesheet" href="ui/jquery-ui.theme.css" /><!--jquery-->
  <title>jQuery - Ui</title>
</head>

  <body>

  <script type="text/javascript" src="js/jquery-1.11.2.js"></script>
  <script type="text/javascript" src="js/ui/jquery-ui.js"></script><!--jquery after jq-->
  <script></script>
  </body>
</html>
