*	{
	margin: 0px;
	padding: 0px;
	font-family: 'Antic';
	box-sizing: border-box;
}

body	{
  background-color: white;
}

#wrapper {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: auto;
  background-color: white;
}





#left {
        width: 300px;
        float: left;
        padding: 15px;
        margin: 10px;
        background: #f8f8f8;
        border: solid 2px black;
       
}
 
#center {
        width: 325px;
        float: left;
        padding: 15px;
        margin: 10px;
        border: solid 2px black;
       
}
 
#right {
        width: 300px;
        padding: 15px;
        margin: 10px;
        float: left;
        background: #f0efef;
        border: solid 2px black;
       
}

