*{
margin: 0;
padding:0;
border: 0;
}

body {
    text-align: center;
}

#wrapper {
    background-color: white;
    margin: 0 auto;
    width: 960px;/*---or %---*/
    height: auto;
    padding: 0px;
    box-sizing: border-box;/*padding*/
}



/*design by me*/
#design {
    padding-top: 30px;
    padding-bottom: 70px;
}

#design p {
    font-size: 8px;
    font-family: 'Homemade Apple';
    line-height: 6px;
    text-decoration: none;
    color: #808080;
}

#design a {
    font-size: 8px;
    font-family: 'Homemade Apple';
    line-height: 6px;
    text-decoration: none;
    color: #808080;
}

.pipe {
    width: 10px;
    height: 10px;
}