@font-face {
  font-family: 'mywoff';
  src: url("../font/bootcamp-regular-webfont.woff2") format("woff2"), url("../font/bootcamp-regular-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0;
  font-family: 'Poiret One';
  font-weight: 400;
  font-size: 16px;
  color: black;
  background: #fcfcfc;
}

.edwardfellows {
  font-size: 50px;
  font-family: 'mywoff';
  letter-spacing: 2px;
  padding-top: 5px;
  padding-bottom: 30px;
}

#contact {
  line-height: 5px;
  padding-bottom: 10px;
}

body {
  text-align: center;
  margin: 0 auto;
}

section {
  display: inline-block;
  height: auto;
  width: 900px;
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
  box-sizing: border-box;
  /*nice fix*/
}

.career {
  margin: 5px 20px 15px 20px;
}

legend {
  font-size: 18px;
  padding: 5px;
}

fieldset {
  text-align: left;
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px;
  line-height: 25px;
}

table {
  margin-left: 30px;
}

.column {
  width: 260px;
}

.sub {
  margin-left: 30px;
  font-size: calc(100% - 1px);
}

#hobbies {
  text-align: center;
}

.hobbie {
  display: inline-block;
  width: 4%;
  margin: 0% 1% 0% 1%;
}

#coffeecup {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
}

#coffee {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
}

#steam {
  stroke: #727272;
  fill: #727272;
  stroke-width: 12px;
}

#pie {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
}

#bite {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
}

#lines {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
}

#three {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
}

#five {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
}

#severn {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
}

#eight {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
}

#nine {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
}

#win {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
}

#video {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
}

#leftreel {
  stroke: #727272;
  stroke-width: 8px;
  fill: transparent;
  transform-origin: center center;
  transform-box: fill-box;
}

#rightreel {
  stroke: #727272;
  stroke-width: 8px;
  fill: transparent;
  transform-origin: center center;
  transform-box: fill-box;
}

#imac {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
}

.paint {
  stroke: lightgrey;
  fill: none;
  stroke-width: 10px;
  opacity: 0.7;
}

#screen {
  stroke: #727272;
  stroke-width: 8px;
  fill: transparent;
}

#headphones {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
  transform-origin: center center;
  transform-box: fill-box;
}

#camera {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
}

#flash {
  stroke: #727272;
  fill: transparent;
  stroke-width: 10px;
}

#frame {
  stroke: #727272;
  fill: none;
  stroke-width: 8px;
}

#parts {
  stroke: #727272;
  fill: none;
  stroke-width: 8px;
}

#frontwheel {
  stroke: #727272;
  stroke-width: 8px;
  fill: transparent;
  transform-origin: center center;
  transform-box: fill-box;
}

#rearwheel {
  stroke: #727272;
  stroke-width: 8px;
  fill: transparent;
  transform-origin: center center;
  transform-box: fill-box;
}

#peddles {
  stroke: #727272;
  stroke-width: 8px;
  fill: transparent;
  transform-origin: center center;
  transform-box: fill-box;
}

.margin {
  margin: 0px 20px 1px 20px;
  text-align: center;
}

#design {
  padding-top: 0px;
  padding-bottom: 0px;
}

.pipe {
  width: 10px;
  height: 10px;
}

/*# sourceMappingURL=sass.map */