*{
margin: 0;
padding:0;
border: 0;
}

body {
    text-align: center;
}

#wrapper {
    background-color: white;
    margin: 0 auto;
    width: 960px;/*good width*/
    height: auto;
}

#header {
    width: 960px;
    height: 100px;
    background: gray;
}

#nav	{
	width: 960px;
	height: 40px;
	background: #F5F5F5;
}

#nav ul {
    list-style: none;
    padding: 0px;/*stops 40px */
    line-height: 10px;
}

/*background color*/

#nav ul li {
    display: inline-block;
    color: blue;
    background-color: #F5F5F5;
    width: 100px;
    /*border*/
}

/*text color*/

#nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
}

/*keeps rolled over effect*/
#nav ul li:hover > a {
    background-color: gray;
    color: white;
}

#left {
    float: left;
    width: 240px;
    height: 500px;
    background-color: gray;
}

#section {
    float: left;
    width: 480px;
    height: 500px;
    background-color: white;
}

#right {
    float: right;
    width: 240px;
    height: 500px;
    background-color: gray;
}

#footer {
    clear: both;
    width: 960px;
	height: 40px;
	line-height: 40px;
    background-color: #F5F5F5;
}