*{margin: 0; padding: 0;}

body {
    text-align: center;
}
#wrapper {
	height: 300px;
	width: 400px;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

#box1	{
/*	flex: 1 0 300px; shorthand */
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 300px;
/*
	-webkit-flex-grow: 1;
	-webkit-flex-shrink: 0;
	-webkit-flex-basis: 300px;
*/
		
	background: lime;
}

#box2	{
	height: 150px;
	background: yellow;
}

#box3	{
	height: 150px;
	background: red;
}






