* {
    margin: 0px;
    padding: 0px;
    font-family: 'Amatic SC', cursive;
    color: #808080;
}

body {
    background-color: #F5F5F5;
}

#wrapper {
    text-align: center;
    background-color: #F5F5F5;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: auto;
}

header {
    background-color: white;
    width: 1000px;
    height: 190px;
    box-shadow: 0px 14px 20px #696969;
}

#headinner {
    color: #808080;
    margin-top: 0px;
    line-height: 8px;
    padding-top: 20px;
}

nav {
    box-shadow: 0px 14px 20px #696969;
}

.fixed {
    position: fixed;
    top: 0;
}


/*rotate img twitter / facbook*/

.rotate {
    transition: 0.8s ease-out;
}

.rotate:hover {
    transform: rotate(360deg);
}


/**/

nav {
    background-color: #ABDEDF;
    height: 32px;
}

nav ul {
    background-color: #ABDEDF;
    padding-bottom: 0px;
    list-style: none;
    position: relative;
    display: inline-table;
    clear: both;
}

nav ul:after {
    content: "";
    clear: both;
    display: block;
}

nav ul li {
    float: left;
    width: 110px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    display: block;
    clear: both;
}

nav ul li:hover a {
    color: #808080;
}

nav ul ul {
    display: none;
    background: #808080;
    position: absolute;
    top: 100%;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul li {
    float: none;
    background: #ABDEDF;
    padding-top: 3px;
    padding-bottom: 3px;
}

nav ul ul li a:hover {
    background: #808080;
    color: #ABDEDF;
}

nav ul ul li a {
    font-size: 22px;
}

nav ul li a:hover {
    background: #808080;
    color: #ABDEDF;
}

/*home title*/

.hometitle	{
		font-family: 'Amatic SC', cursive;
		font-size: 46px;
}

.hometitle1		{
		font-family: 'Amatic SC', cursive;
		font-size: 22px;
}

/*main*/

section {
    background-color: white;
    height: auto;
    width: 838px;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    color: #808080;
    box-shadow: 0px 14px 20px #696969;
}

legend {
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
    margin-left: 20px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

fieldset {
    height: auto;
    padding: 18px;
    line-height: 20px;
    margin-bottom: 15px;
}


/*Disclaimer*/

.Disclaimer {
    font-size: 12px;
    font-family: 'Antic';
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
}

.Disclaimerfieldset {
    padding-bottom: 5px;
    padding-top: 0px;
    margin-left: 100px;
    margin-right: 100px;
    border: 2px solid #ABDEDF;
    border-radius: 25px;
}


/*maps table links*/

tr td a {
    text-decoration: none;
    font-family: 'Antic';
}

p {
    font-family: 'Antic';
    font-size: 16px;
}

.top {
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}


/*reviews*/

.reviewstitle	{
	font-size: 40px;
	font-family: 'Amatic SC', cursive;
}

.fieldcop {
    text-align: left;
    border: 3px solid #dc3736;
    border-radius: 25px;
}

.fieldcop p {
    padding-left: 180px;
}

.fieldhigh {
    text-align: left;
    border: 3px solid #ffd04b;
    border-radius: 25px;
}

.fieldhigh p {
    padding-left: 180px;
}

.fieldfish {
    text-align: left;
    border: 3px solid #ed52c7;
    border-radius: 25px;
}

.fieldfish p {
    padding-left: 180px;
}

.fieldshop {
    text-align: left;
    border: 3px solid #ffb7f2;
    border-radius: 25px;
}

.fieldshop p {
    padding-left: 180px;
}

.fieldprincess {
    text-align: left;
    border: 3px solid #016548;
    border-radius: 25px;
}

.fieldprincess p {
    padding-left: 180px;
}

.fieldbarker {
    text-align: left;
    border: 3px solid #f8fb00;
    border-radius: 25px;
}

.fieldbarker p {
    padding-left: 180px;
}

.fieldmardol {
    text-align: left;
    border: 3px solid #5f9245;
    border-radius: 25px;
}

.fieldmardol p {
    padding-left: 180px;
}

.fieldcastle {
    text-align: left;
    border: 3px solid #a1a860;
    border-radius: 25px;
}

.fieldcastle p {
    padding-left: 180px;
}

.fieldmary {
    text-align: left;
    border: 3px solid #ef6738;
    border-radius: 25px;
}

.fieldmary p {
    padding-left: 180px;
}

.directions	{
	font-size: 16px;
    text-decoration: none;
    font-family: 'Antic';
}


/*maps list*/

.fieldmapcop {
    border: 3px solid #dc3736;
    border-radius: 25px;
}

.fieldmaphigh {
    border: 3px solid #ffd04b;
    border-radius: 25px;
}

.fieldmapfish {
    border: 3px solid #ffb7f2;
    border-radius: 25px;
}

.fieldmapshop {
    border: 3px solid #ffb7f2;
    border-radius: 25px;
}

.fieldmapprincess {
    border: 3px solid #016548;
    border-radius: 25px;
}

.fieldmapbarker {
    border: 3px solid #f8fb00;
    border-radius: 25px;
}

.fieldmapmardol {
    border: 3px solid #5f9245;
    border-radius: 25px;
}

.fieldmapcastle {
    border: 3px solid #a1a860;
    border-radius: 25px;
}

.fieldmapmary {
    border: 3px solid #ef6738;
    border-radius: 25px;
}


/*review pictures*/

.reviewcop {
    padding: 10px;
    background-color: white;
    float: left;
    border-radius: 40px;
    border: 2px solid #dc3736;
    transition: all .5s ease-in-out;
}

.reviewhigh {
    padding: 10px;
    background-color: white;
    float: left;
    border-radius: 40px;
    border: 2px solid #ffd04b;
    transition: all .5s ease-in-out;
}

.reviewfish {
    padding: 10px;
    background-color: white;
    float: left;
    border-radius: 40px;
    border: 2px solid #ed52c7;
    transition: all .5s ease-in-out;
}

.reviewshop {
    padding: 10px;
    background-color: white;
    float: left;
    border-radius: 40px;
    border: 2px solid #ffb7f2;
    transition: all .5s ease-in-out;
}

.reviewprincess {
    padding: 10px;
    background-color: white;
    float: left;
    border-radius: 40px;
    border: 2px solid #016548;
    transition: all .5s ease-in-out;
}

.reviewbarker {
    padding: 10px;
    background-color: white;
    float: left;
    border-radius: 40px;
    border: 2px solid #f8fb00;
    transition: all .5s ease-in-out;
}

.reviewmardol {
    padding: 10px;
    background-color: white;
    float: left;
    border-radius: 40px;
    border: 2px solid #5f9245;
    transition: all .5s ease-in-out;
}

.reviewcastle {
    padding: 10px;
    background-color: white;
    float: left;
    border-radius: 40px;
    border: 2px solid #a1a860;
    transition: all .5s ease-in-out;
}

.reviewmary {
    padding: 10px;
    background-color: white;
    float: left;
    border-radius: 40px;
    border: 2px solid #ef6738;
    transition: all .5s ease-in-out;
}


/*review pic zoom*/

.reviewcop:hover {
    transform: scale(2.0);
}

.reviewhigh:hover {
    transform: scale(2.0);
}

.reviewfish:hover {
    transform: scale(2.0);
}

.reviewshop:hover {
    transform: scale(2.0);
}

.reviewprincess:hover {
    transform: scale(2.0);
}

.reviewbarker:hover {
    transform: scale(2.0);
}

.reviewmardol:hover {
    transform: scale(2.0);
}

.reviewcastle:hover {
    transform: scale(2.0);
}

.reviewmary:hover {
    transform: scale(2.0);
}

.reviewtext {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 900;
}

/*blog headers*/

.blogheader {
    font-size: 26px;
}

/*map header*/

.mapheader	{
    font-size: 46px;
	font-family: 'Amatic SC', cursive;
}

/*google*/

.google	{
	font-size: 36px;
	font-family: 'Amatic SC', cursive;
}


/*all reviews*/

.allreviews	{
    font-size: 16px;
    text-decoration: none;
    font-family: 'Antic';
 }

/*shrewsbury images*/

.shrewsburyimg {
    border-radius: 30px;
    border: 5px solid #ABDEDF;
    margin: 5px;
    padding: 10px;
    background-color: white;
    transition: all .3s ease-in-out;
}

.shrewsburyimg:hover {
    border-radius: 30px;
    border: 5px solid #ABDEDF;
    margin: 5px;
    padding: 10px;
    transform: scale(2.1);
}

/*map thumbnails images*/

.mapsimg {
    border-radius: 30px;
    border: 5px solid #ABDEDF;
    margin: 5px;
    padding: 10px;
    background-color: white;
    transition: all .2s ease-in-out;
    display: inline;
}

.mapsimg:hover {
    border-radius: 30px;
    border: 5px solid #ABDEDF;
    margin: 5px;
    padding: 10px;
    transform: scale(2.0);
        display: inline;
}

/*blog */

.blogimg {
    border-radius: 30px;
    border: 2px solid #ABDEDF;
    margin: 5px;
    padding: 10px;
    transition: all .3s ease-in-out;
}

.blogimg:hover {
    border-radius: 30px;
    background-color: white;
    border: 2px solid #ABDEDF;
    margin: 5px;
    padding: 10px;
    transform: scale(1.3);
}

/*uk map*/

#uk		{
	margin-left: -80px;
}

/*blog radius*/

.radius {
    border-radius: 30px;
    border: 3px solid #ABDEDF;
    padding: 30px;
}

/*Promo events*/

.promoevents {
	text-align: left;
    border-radius: 30px;
    border: 3px solid #ABDEDF;
    padding: 15px;
    padding-bottom: 40px;
    padding-top: 40px;
}

/*welcome pack*/

.welcome {
	text-align: left;
    border-radius: 30px;
    border: 3px solid #ABDEDF;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 80px;
}

.welcometitle	{
	text-align: left;
}

.welcomepack {
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    text-align: left;
    margin-left: 78px
}

.caseimg	{
    border-radius: 30px;
    border: 5px solid #ABDEDF;
    margin: 5px;
    padding: 10px;
}

#case li{
    text-align: left;
    font-size: 16px;
    font-family: 'Antic';
    margin-left: 30px;
    padding: 5px;
}

/*events*/

#events	{
	height: 150px;
	width: 770px;
	margin-left: 30px;
	line-height: 200%;
	overflow: scroll;
}

.eventslink	{
    font-size: 16px;
    text-decoration: none;
    font-family: 'Antic';	
}

/*app download*/

.app		{
    font-size: 12px;
    text-decoration: none;
    font-family: 'Antic';	
}

/*magazine*/

.promomagazine {
	text-align: left;
    border-radius: 30px;
    border: 3px solid #ABDEDF;
    padding: 60px;
}


.magazine{
	width: 207px;
	height: 292px;
	padding-right: 30px;
    padding-left: 20px;
	float: left;
}

.magazinedown	{
    font-size: 16px;
    text-decoration: none;
    font-family: 'Antic';
 }
 
 #mapdown	{
 	margin-left: -25px;
	 text-align: center;
	 width: 300px;
	 height: auto;
 }
 
 /*qr code*/

.qr		{
	width: 75px;
	height: 75px;
}

/**/

td {
    font-family: 'Antic';
    font-size: 16px;
}

.tablecol {
    width: 260px;
}


/*form*/

.form {
    text-align: center;
    font-family: 'Antic';
    font-size: 14px;
}


/*table maps*/

.mapstable {
    text-align: left;
    width: auto;
    margin-left: 200px;
    margin-bottom: 20px;
}

/*footer*/

footer {
    clear: both;
    width: 1000px;
    height: 30px;
    background-color: #F5F5F5;
    margin: 0 auto;
    margin-top: 50px;
}

footer ul {
    height: 100px;
    width: 500px;
    margin: 0 auto;
    background-color: #F5F5F5;
}

footer li {
    list-style-type: none;
    width: 80px;
    float: left;
}

footer li a {
    text-decoration: none;
    font-weight: 500;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    display: block;
}

.design {
    font-size: 10px;
    font-family: 'homemade Apple';
    color: #808080;
}

.design a {
    text-decoration: none;
    font-size: 10px;
    font-family: 'homemade Apple';
    color: #808080;
}
    

