@import url('https://fonts.googleapis.com/css?family=Antic" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet');
@import url("");
/*white*/
/*gray*/
/*red*/
/*svg*/
html body {
  margin: 0px;
  padding: 0px;
  background: pink;
}

a {
  text-decoration: none;
}

#wrapper {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: pink;
}

#section1 {
  /*header*/
  height: 800px;
  background: #292929;
  margin: 0;
  padding: 0;
}

#header {
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  text-align: center;
  color: white;
  width: 100%;
  font-family: "Poiret One";
}

.title {
  font-size: 5vw;
  margin: 0;
}

.subtitle {
  font-size: 2vw;
  margin: 0;
}

/*nav*/
.navbg {
  background-color: #F7484E;
}

.navtext {
  color: #F7484E;
}

nav {
  text-align: center;
  width: 100%;
  height: 40px;
  background-color: #292929;
  z-index: 99;
}

nav ul {
  margin-top: 0px;
  list-style: none;
  padding: 0px;
  /*stops 40px */
}

nav ul li {
  display: inline-block;
  width: 80px;
}

nav ul li a {
  display: block;
  line-height: 40px;
  color: #292929;
  font-size: 16px;
  font-family: "Poiret One";
}

nav ul li:hover > a {
  background-color: #434343;
  color: #F7484E;
}

.stickytop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

#section3 {
  /*about*/
  background-color: white;
  padding: 8%  5%  8% 5%;
  text-align: center;
  font-size: 18px;
}

#section4 {
  /*hobbies*/
  background: #292929;
  padding: 20px;
}

#hobbies {
  width: 100%;
  text-align: center;
}

.hobbie {
  display: inline-block;
  width: 4%;
  margin: 0px 2% 0px 2%;
}

.hobbieimg {
  width: 100%;
  height: 100%;
}

#coffeecup {
  stroke: white;
  fill: none;
  stroke-width: 10px;
}

#steam {
  stroke: #F7484E;
  fill: white;
  stroke-width: 12px;
  animation: steam 2s infinite linear;
}

@keyframes steam {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

#pie {
  stroke: white;
  fill: none;
  stroke-width: 10px;
}

#bite {
  stroke: #F7484E;
  fill: none;
  stroke-width: 10px;
  animation: bite 8s infinite linear;
}

#nobite {
  stroke: white;
  fill: none;
  stroke-width: 10px;
  animation: nobite 8s infinite linear;
}

@keyframes bite {
  0% {
    opacity: 0;
  }
  1%, 49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes nobite {
  0% {
    opacity: 1;
  }
  1%, 49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#camera {
  stroke: white;
  fill: none;
  stroke-width: 10px;
}

#flash {
  fill: #F7484E;
  animation: flash 3s infinite linear;
}

@keyframes flash {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

#video {
  stroke: white;
  fill: none;
  stroke-width: 10px;
}

#leftreel {
  stroke: #F7484E;
  stroke-width: 8px;
  fill: transparent;
  animation: reel 3s infinite linear;
}

#rightreel {
  stroke: #F7484E;
  stroke-width: 8px;
  fill: transparent;
  animation: reel 3s infinite linear;
}

@keyframes reel {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 50% 50%;
    transform: rotate(360deg);
  }
}

#imac {
  stroke: white;
  fill: none;
  stroke-width: 10px;
}

#screen {
  stroke: #F7484E;
  stroke-width: 8px;
  fill: transparent;
  animation: mac 2s infinite linear;
}

@keyframes mac {
  0% {
    stroke: #F7484E;
  }
  50% {
    stroke: gray;
  }
  100% {
    stroke: #F7484E;
  }
}

#section5 {
  /*expertise*/
  background-color: white;
  height: 500px;
}

#section6 {
  /*qualifications*/
  background: white;
  height: 500px;
}

#section7 {
  /*portfolio*/
  padding-top: 100px;
  background: #292929;
}

#portfolio {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.port {
  display: inline-block;
  position: relative;
  width: 33.333333333%;
  margin: -4px -4px 0px 0px;
  font-size: 0px;
}

.portimg {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.7);
}

.port:hover .overlay {
  opacity: 1;
}

.porttext {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#section8 {
  /*files*/
  padding: 20px 20px 20px 20px;
  background: #292929;
}

#cloud {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
}

.sky {
  display: inline-block;
  width: 7%;
  margin: 0px 2% 0px 2%;
  transition: all 0.5s ease;
}

.cc {
  stroke: white;
  fill: none;
  stroke-width: 8px;
  transition: all 0.5s ease-in;
}

.sky:hover .cc {
  stroke: red;
  transition: 0.3s ease-in;
}

.codepen {
  stroke: white;
  fill: none;
  stroke-width: 10px;
  transition: all 0.5s ease-in;
}

.sky:hover .codepen {
  stroke: lime;
  transition: 0.3s ease-in;
}

.be {
  stroke: white;
  fill: none;
  stroke-width: 10px;
  transition: all 0.5s ease-in;
}

.sky:hover .be {
  stroke: #1969fb;
  transition: 0.3s ease-in;
}

.github {
  stroke: white;
  fill: none;
  stroke-width: 10px;
  transition: all 0.5s ease-in;
}

.sky:hover .github {
  stroke: purple;
  transition: 0.3s ease-in;
}

.xd {
  stroke: white;
  fill: none;
  stroke-width: 10px;
  transition: all 0.5s ease-in;
}

.sky:hover .xd {
  stroke: #e750b9;
  transition: 0.3s ease-in;
}

.dribbble {
  stroke: white;
  fill: none;
  stroke-width: 10px;
  transition: all 0.5s ease-in;
}

.sky:hover .dribbble {
  stroke: #b3335a;
  transition: 0.3s ease-in;
}

#section9 {
  /*experience*/
  background-color: white;
  height: 500px;
}

#section11 {
  /*cv download*/
  position: relative;
  background: #292929;
  padding: 5%;
}

#cv {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: inline-block;
  border: 1px solid gray;
  border-radius: 5px;
  position: relative;
  text-align: center;
  width: 10%;
  background: red;
  padding-bottom: 3%;
  font-size: 0px;
}

#section12 {
  /*contact*/
  height: 500px;
  text-align: center;
  padding: 50px;
  background: white;
}

form {
  position: relative;
  top: 50px;
  text-align: center;
}

input {
  width: 40%;
  height: 10px;
  padding: 10px;
  font-size: 16px;
  font-family: "Poiret One";
  border-radius: 10px;
  background: white;
  transition: all 0.5s ease-in;
  border: transparent;
}

input:hover {
  background: #F7484E;
}

textarea {
  width: 40%;
  padding: 10px;
  font-size: 16px;
  font-family: "Poiret One";
  border-radius: 10px;
  background: #292929;
  border: transparent;
  background: white;
  transition: all 0.5s ease-in;
}

textarea:hover {
  background: #F7484E;
}

.btn {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: solid 2px #F7484E;
  font-size: 16px;
  line-height: 5px;
  margin-top: 10px;
  transition: all 0.5s;
}

.btn:hover {
  color: white;
  box-shadow: 0px 10px 10px #696969;
}

hr {
  width: 50%;
  margin: 0 auto;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent);
}

#section13 {
  /*hello*/
  background: white;
}

#hello {
  width: 100%;
  text-align: center;
  background: #F7484E;
}

.you {
  display: inline-block;
  width: 5%;
  margin: 0px 2% 0px 2%;
  font-size: 0px;
}

#emailiconbox {
  position: relative;
  display: inline-block;
  width: 50px;
}

#envelop {
  stroke: white;
  fill: none;
  stroke-width: 12px;
}

#open {
  opacity: 0;
  stroke: white;
  fill: none;
  stroke-width: 12px;
  transition: all 0.1s ease-in;
}

#close {
  opacity: 1;
  stroke: white;
  fill: none;
  stroke-width: 12px;
  transition: all 0.1s ease-in;
}

.you:hover #open {
  opacity: 1;
}

.you:hover #close {
  opacity: 0;
}

#facebook {
  fill: none;
  stroke: white;
  stroke-width: 13px;
  transition: all 0.1s ease-in;
}

#at {
  fill: none;
  stroke: white;
  stroke-width: 13px;
  transition: all 0.1s ease-in;
}

#section14 {
  /*mouse*/
  position: relative;
  background: white;
  height: 100px;
  font-family: 'Antic';
}

.mouse {
  position: relative;
  top: 25px;
  left: 50%;
  margin-left: -12px;
  width: 20px;
  height: 35px;
  border: 2px solid lightgray;
  border-radius: 20px;
  text-align: center;
  transition: all 0.3s;
}

.mouse:hover {
  border: 2px solid #F7484E;
}

#scroll {
  width: 3px;
  height: 3px;
  margin: 5px auto;
  background-color: #F7484E;
  border: 1px solid transparent;
  border-radius: 5px;
  animation: scroll 1.5s infinite both;
}

@keyframes scroll {
  0% {
    opacity: 1;
    transform: translateY(15px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

#section15 {
  /*draw*/
  padding: 100px;
  background: #292929;
}

.pipe {
  position: relative;
  top: 40px;
  left: 50%;
  margin-left: -14px;
  width: 30px;
  stroke-dasharray: 2000;
  stroke-dashoffset: 0;
  animation: dash 4s linear infinite 0.5s;
  /*forwards;*/
}

@keyframes dash {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@media (max-width: 600px) {
  #section1 {
    height: 200px;
  }
  #section3 {
    font-size: 12px;
  }
  #header {
    top: 60%;
  }
  nav {
    position: fixed;
    top: 0;
  }
  .sky {
    width: 10%;
  }
  .hobbie {
    width: 10%;
  }
}

/*# sourceMappingURL=css.map */