@font-face {
  font-family: 'mywoff';
  src: url("../font/bootcamp-regular-webfont.woff2") format("woff2"), url("../font/bootcamp-regular-webfont.woff") format("woff");
}

/*header & footer*/
/*White*/
/*White Smoke*/
/*gray*/
/*gray*/
/*svg*/
/*red*/
.quotemarks {
  font-size: calc(100% + 10px);
}

.color {
  color: #F7484E;
}

.darken {
  color: #262626;
}

html body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: "Advent Pro";
  font-size: 24px;
  color: #727272;
  background-color: #292929;
}

html body a {
  text-decoration: none;
  color: #727272;
}

.title {
  /*titles*/
  text-align: center;
  height: 50px;
  background-color: #fcfcfc;
}

.stickytitle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fcfcfc;
}

.hrtitle {
  display: inline-block;
  position: relative;
  height: 50px;
  width: 40%;
  border: 0;
  font-family: "Reenie Beanie";
  letter-spacing: 1px;
  font-size: 30px;
  text-align: center;
  color: #0c0c0c;
  line-height: 10px;
  margin: 0;
}

.hrtitle:before {
  content: '';
  background: -webkit-linear-gradient(left, transparent, black, transparent);
  background: linear-gradient(to right, transparent, black transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
}

.hrtitle:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding: 20px;
  background-color: #fcfcfc;
}

#sectionNav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fcfcfc;
  z-index: 99999;
  transition: transform 0.5s cubic-bezier(0.42, 1, 0.8, 1);
  opacity: 0;
}

.sectionNavHide {
  transform: translateY(-100%);
}

.headerScroll {
  opacity: 1 !important;
}

nav {
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
  transition: 0.3s ease;
  overflow: hidden;
}

nav ul {
  margin-top: 0px;
  list-style: none;
  padding: 0px;
  /*stops 40px */
}

nav ul li {
  display: inline-block;
  width: 10%;
  padding: 0% 2% 0% 2%;
}

nav ul li a {
  position: relative;
  display: block;
  font-size: 2vw;
  font-family: "Reenie Beanie";
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.underlinenav::after, .left::after, .center::after, .center:hover::after, .right::after, .right:hover::after {
  content: '';
  width: 0px;
  height: 2px;
  background: #727272;
  position: absolute;
  bottom: 20px;
  transition: 0.5s ease;
}

.underlinenav:hover::after, .left:hover::after, .center:hover::after, .right:hover::after {
  width: 100%;
}

.left::after {
  right: 0px;
}

.center::after {
  left: 50%;
  right: 50%;
}

.center:hover::after {
  left: 0px;
}

.right::after {
  left: 0px;
}

.right:hover::after {
  left: 0px;
}

#sectionHeader {
  height: 100vh;
  background-image: linear-gradient(180deg, #ff9b99, #ff999b);
  animation: hue 30s infinite;
}

@keyframes hue {
  0% {
    filter: hue-rotate(0);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

#header {
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  text-align: center;
  width: 100%;
}

.name {
  font-family: 'mywoff';
  font-size: 10vw;
  margin: 0;
  color: white;
  text-shadow: 0.1px 0.1px 1px white;
}

.quote {
  font-family: 'Advent Pro';
  font-weight: 400;
  font-size: 5vw;
  color: white;
  margin: 0;
}

#sectionAbout {
  background-color: #fcfcfc;
  padding: 4%  5%  5% 5%;
  text-align: center;
}

#hobbies {
  background: #fcfcfc;
  text-align: center;
  padding: 1% 1% 1% 1%;
}

.hobbie {
  display: inline-block;
  margin: 0% 1% 0% 1%;
}

.hobbie {
  display: inline-block;
  width: 4%;
  margin: 0% 1% 0% 1%;
}

#coffeecup {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
}

#coffee {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
  animation: coffee 20s infinite linear;
}

@keyframes coffee {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(230px);
  }
}

#steam {
  stroke: #727272;
  fill: #727272;
  stroke-width: 12px;
  animation: steam 2s infinite linear;
}

@keyframes steam {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

#pie {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
}

#bite {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
  animation: bite 3s infinite linear;
}

#nobite {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
  animation: nobite 3s infinite linear;
}

@keyframes bite {
  0% {
    opacity: 0;
  }
  1%, 49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes nobite {
  0% {
    opacity: 1;
  }
  1%, 49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#camera {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
}

#flash {
  stroke: #727272;
  fill: transparent;
  stroke-width: 10px;
  animation: flash 2s infinite linear;
}

@keyframes flash {
  0%, 90% {
    fill: transparent;
  }
  100% {
    fill: #727272;
  }
}

#imac {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
}

.paint {
  stroke: lightgrey;
  fill: none;
  stroke-width: 10px;
  opacity: 0.4;
}

#screen {
  stroke: #727272;
  stroke-width: 8px;
  fill: transparent;
  animation: macscreen 2s infinite linear;
}

.draw {
  animation: 4s draw linear infinite alternate;
}

@keyframes draw {
  0% {
    stroke-dasharray: 0 500;
    stroke-dashoffset: 0;
    stroke: red;
  }
  100% {
    stroke-dasharray: 500;
    stroke-dashoffset: 0;
    stroke: lime;
  }
}

#headphones {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
  animation: headphones 2s infinite linear;
  transform-origin: center center;
  transform-box: fill-box;
}

@keyframes headphones {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

#lines {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
}

#three {
  opacity: 0;
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
  animation: three 0.5s forwards 5s linear;
}

@keyframes three {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#five {
  opacity: 0;
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
  animation: five 0.5s forwards 1s linear;
}

@keyframes five {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#severn {
  opacity: 0;
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
  animation: severn 0.5s forwards 9s linear;
}

@keyframes severn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#eight {
  opacity: 0;
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
  animation: eight 0.5s forwards 7s linear;
}

@keyframes eight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#nine {
  opacity: 0;
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
  animation: nine 0.5s forwards 3s linear;
}

@keyframes nine {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#win {
  opacity: 0;
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
  animation: win 1 forwards linear;
  animation-delay: 11s;
}

@keyframes win {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#video {
  stroke: #727272;
  fill: none;
  stroke-width: 10px;
}

#leftreel {
  stroke: #727272;
  stroke-width: 8px;
  fill: transparent;
  transform-origin: center center;
  transform-box: fill-box;
  animation: reel 3s infinite linear;
}

#rightreel {
  stroke: #727272;
  stroke-width: 8px;
  fill: transparent;
  transform-origin: center center;
  transform-box: fill-box;
  animation: reel 3s infinite linear;
}

@keyframes reel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#frame {
  stroke: #727272;
  fill: none;
  stroke-width: 8px;
}

#parts {
  stroke: #727272;
  fill: none;
  stroke-width: 8px;
}

#frontwheel {
  stroke: #727272;
  stroke-width: 8px;
  fill: transparent;
  transform-origin: center center;
  transform-box: fill-box;
  animation: wheel 2s infinite linear;
}

#rearwheel {
  stroke: #727272;
  stroke-width: 8px;
  fill: transparent;
  transform-origin: center center;
  transform-box: fill-box;
  animation: wheel 2s infinite linear;
}

#peddles {
  stroke: #727272;
  stroke-width: 8px;
  fill: transparent;
  transform-origin: center center;
  transform-box: fill-box;
  animation: wheel 2s infinite linear;
}

@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.columnleft, .columnright {
  vertical-align: top;
  display: inline-block;
  /* 	min-width: 230px;  */
  width: 30%;
  text-align: right;
  padding: 0% 1% 0% 0%;
}

.columnlefttitle {
  color: #262626;
  font-size: calc(100% + 2px);
}

.columnright {
  width: 59%;
  text-align: left;
  color: #727272;
  padding: 0% 0% 2% 1%;
}

#sectionExpertise {
  padding: 5%  10%  5% 10%;
  box-sizing: border-box;
  background: #fcfcfc;
  width: 100%;
  text-align: center;
}

#sectionExpertise a {
  display: inline-block;
}

#sectionQualification {
  padding: 5%  10%  5% 10%;
  box-sizing: border-box;
  background: #fcfcfc;
  width: 100%;
  text-align: center;
  line-height: 30px;
}

#sectionPortfolio {
  padding: 5%  0%  5% 0%;
  background: #fcfcfc;
}

#cloud {
  padding: 1%;
  background: #fcfcfc;
  text-align: center;
}

.clouds {
  display: inline-block;
  width: 6%;
  margin: 0% 2% 0% 2%;
  transition: all 0.5s linear;
}

#cloudcc {
  stroke: red;
  fill: none;
  stroke-width: 11px;
}

.clouds:hover #cloudcc {
  stroke: red;
  fill: red;
  transition: 0.2s linear;
}

#cloudlines {
  stroke: red;
  fill: none;
  stroke-width: 14px;
}

.clouds:hover #cloudlines {
  stroke: #fcfcfc;
  fill: none;
  stroke-width: 16px;
  transition: 0.2s linear;
}

#codepenbox {
  stroke: black;
  fill: none;
  stroke-width: 11px;
}

.clouds:hover #codepenbox {
  stroke: black;
  fill: black;
  transition: 0.2s linear;
}

#codepenlines {
  stroke: black;
  fill: none;
  stroke-width: 11px;
}

.clouds:hover #codepenlines {
  stroke: #fcfcfc;
  fill: none;
  transition: 0.2s linear;
}

#be {
  stroke: #1969fb;
  fill: none;
  stroke-width: 10px;
}

.clouds:hover #be {
  stroke: #1969fb;
  fill: #1969fb;
  transition: 0.1s linear;
}

#github {
  stroke: black;
  fill: none;
  stroke-width: 10px;
}

.clouds:hover #github {
  stroke: black;
  fill: black;
  transition: 0.2s linear;
}

#xd {
  stroke: #e750b9;
  fill: none;
  stroke-width: 10px;
}

.clouds:hover #xd {
  stroke: #e750b9;
  fill: #e750b9;
  transition: 0.1s linear;
}

#dribbblecircle {
  stroke: #b3335a;
  fill: none;
  stroke-width: 11px;
}

.clouds:hover #dribbblecircle {
  stroke: #b3335a;
  fill: #b3335a;
  transition: 0.2s linear;
}

#dribbblelines {
  stroke: #b3335a;
  fill: none;
  stroke-width: 11px;
}

.clouds:hover #dribbblelines {
  stroke: #fcfcfc;
  transition: 0.2s linear;
}

#sectionExperience {
  padding: 5%  10%  5% 10%;
  box-sizing: border-box;
  background: #fcfcfc;
  width: 100%;
  text-align: center;
  line-height: 30px;
}

#sectionCv {
  padding: 5%  0%  5% 0%;
  background: #f5f5f5;
  text-align: center;
}

#cv {
  display: inline-block;
  width: 14%;
  transition: all 0.5s linear;
}

#template {
  fill: none;
  stroke: #727272;
  stroke-width: 10px;
}

#smile {
  fill: none;
  stroke: #727272;
  stroke-width: 5px;
  opacity: 0;
}

.smile {
  animation: smile 1ms ease 1 forwards;
}

@keyframes smile {
  0% {
  }
  100% {
    opacity: 1;
  }
}

#list {
  fill: none;
  stroke: #727272;
  stroke-width: 8px;
}

.list {
  animation: list 1ms 0s ease 1 forwards;
}

.hide {
  opacity: 0;
}

@keyframes list {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#download {
  fill: none;
  stroke: #727272;
  stroke-width: 8px;
  opacity: 0;
}

.download {
  animation: download 1s 0s ease 1 forwards;
}

@keyframes download {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }
}

#tick {
  fill: none;
  stroke: red;
  stroke-width: 30px;
  opacity: 0;
}

.tick {
  animation: tick 1s 0s ease 1 forwards;
}

@keyframes tick {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }
}

#tickround {
  stroke: lime;
  stroke-dasharray: 4000;
}

.tickdraw {
  animation: tickdraw 2s 0s linear;
}

@keyframes tickdraw {
  0% {
    stroke-dashoffset: 4000;
  }
  100% {
    stroke-dashoffset: 8000;
  }
}

#sectionContact {
  height: 400px;
  text-align: center;
  padding: 5%  0%  0% 0%;
  background: #fcfcfc;
  margin: 0;
}

input {
  margin-bottom: 20px;
  width: 50%;
  height: 10px;
  padding: 10px;
  font-size: 22px;
  font-family: "Advent Pro";
  border-radius: 10px;
  background: white;
  transition: all 0.2s ease-in;
  border: transparent;
}

input:hover {
  background: #f5f5f5;
}

textarea {
  width: 50%;
  padding: 10px;
  font-size: 22px;
  font-family: "Advent Pro";
  border-radius: 10px;
  border: transparent;
  background: white;
  transition: all 0.2s ease-in;
}

textarea:hover {
  background: #f5f5f5;
}

.btn {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: solid 2px lightgray;
  font-size: 20px;
  font-family: "Advent Pro";
  line-height: 3px;
  margin-top: 50px;
  transition: all 0.2s;
  box-shadow: 0px 5px 10px lightgray;
  cursor: pointer;
}

.btn:hover {
  background-color: transparent;
  box-shadow: 0px 5px 10px gray;
}

#sectionSocial {
  background: #fcfcfc;
  padding: 0% 0% 2% 0%;
  margin-bottom: 450px;
  text-align: center;
}

.socials, .socialsenvelop {
  display: inline-block;
  width: 3%;
  margin: 0px 2% 0px 2%;
  transition: all 0.3s linear;
}

#facebook {
  stroke: #727272;
  fill: transparent;
  stroke-width: 12px;
}

.socials:hover #facebook, .socialsenvelop:hover #facebook {
  fill: #727272;
  transition: 0.3s linear;
}

#envelop {
  stroke: #727272;
  fill: transparent;
  stroke-width: 12px;
}

#open {
  opacity: 0;
  stroke: #727272;
  fill: none;
  stroke-width: 12px;
  transition: all 0.3s linear;
}

#close {
  opacity: 1;
  stroke: #727272;
  fill: none;
  stroke-width: 12px;
  transition: all 0.3s linear;
}

.socialsenvelop:hover #open {
  opacity: 1;
  fill: #727272;
}

.socialsenvelop:hover #close {
  fill: #fcfcfc;
}

.socialsenvelop:hover #envelop {
  fill: #727272;
}

#twitter {
  stroke: #727272;
  fill: transparent;
  stroke-width: 12px;
}

.socials:hover #twitter, .socialsenvelop:hover #twitter {
  fill: #727272;
  transition: 0.3s linear;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 450px;
  background: #292929;
  z-index: -1;
  text-align: center;
  color: white;
}

#mouse {
  /*mouse*/
  position: relative;
  background: #292929;
  height: 100px;
}

.mouse {
  position: relative;
  top: 25px;
  left: 50%;
  margin-left: -13px;
  width: 22px;
  height: 35px;
  border: 2px solid lightgray;
  border-radius: 20px;
  text-align: center;
  transition: all 0.3s;
}

.mouse:hover {
  border: 2px solid #F7484E;
  box-shadow: 0px 0px 5px gray;
}

#scroll {
  width: 0px;
  height: 0px;
  margin-left: 7px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #F7484E;
  animation: scroll 1.5s infinite both;
}

@keyframes scroll {
  0% {
    opacity: 1;
    transform: translateY(20px);
  }
  100% {
    opacity: 0.4;
    transform: translateY(6px);
  }
}

.mousetext {
  font-family: 'Poiret One';
  font-size: 10px;
  margin-top: 40px;
  font-weight: bold;
  margin-left: -1px;
  color: white;
}

#me {
  position: relative;
  top: 55%;
  text-align: center;
}

#designby {
  position: relative;
  font-size: 10px;
  font-family: 'Poiret One';
}

.pipe {
  position: relative;
  top: -8px;
  margin-left: 5px;
  display: inline;
  width: 30px;
  stroke-dasharray: 2000;
  stroke-dashoffset: 0;
  animation: pipe 4s linear infinite 0.5s;
}

.pipe:hover {
  animation-play-state: paused;
}

@keyframes pipe {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@media screen and (max-width: 768px) {
  html body {
    font-size: 18px;
  }
  .hrtitle {
    width: 60%;
  }
  #sectionNav {
    display: none;
  }
  .stickytitle {
    position: relative;
  }
  #sectionAbout {
    padding: 10%  3%  10% 3%;
  }
  .hobbie {
    width: 10%;
  }
  #sectionExpertise {
    padding: 10%  0%  10% 0%;
  }
  #sectionQualification {
    padding: 10%  0%  10% 0%;
  }
  .clouds {
    width: 10%;
  }
  #sectionPortfolio {
    padding: 10%  1%  10% 1%;
  }
  #sectionExperience {
    padding: 10%  0%  10% 0%;
  }
  #sectionCv {
    padding: 10%  1%  10% 1%;
  }
  .cv {
    width: 20%;
  }
  input {
    width: 80%;
  }
  textarea {
    width: 80%;
  }
  hr {
    width: 80%;
  }
  .socials, .socialsenvelop {
    width: 5%;
  }
}

@media screen and (max-width: 480px) {
  html body {
    font-size: 16px;
  }
  .hrtitle {
    width: 80%;
  }
  #sectionAbout {
    padding: 10%  4%  10% 4%;
  }
  #sectionCv {
    display: none;
  }
  #titlehide {
    display: none;
  }
  /* .columnleft		{text-align: center; min-width: 200px;} */
  #hide {
    display: none;
  }
  #sectionContact {
    display: none;
  }
  .socials, .socialsenvelop {
    width: 10%;
  }
}

/*# sourceMappingURL=css.map */