@import url('https://fonts.googleapis.com/css?family=Poiret+One');/*'Poiret One'*/
@import url('https://fonts.googleapis.com/css?family=Antic'); /*'Antic'*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700'); /*'Roboto Condensed'*/
@import url('https://fonts.googleapis.com/css?family=Advent+Pro:300,400,500'); /*'Advent Pro'*/

$fontTitle: 'mywoff';
$fontNav:  'Advent Pro';
$fontText: 'Advent Pro';
$fontForm: 'Poiret One';

$bg-color: white;/*white*/
$bg-color1: #292929;/*gray*/
$color: #292929; /*gray*/
$color1: #F7484E; /*red*/
$svg: white; /*svg*/

// @mixin dog {}
// .doggy1 { @include dog;}

// background-color: lighten($color1, 30%);

@font-face { font-family: 'mywoff';
    src: url('../font/bootcamp-regular-webfont.woff2') format('woff2'),
          url('../font/bootcamp-regular-webfont.woff') format('woff');
}
@font-face { font-family: 'myotf';
    src: url('../font/Angelface.otf') format("opentype");
    font-weight: normal;
}
@font-face { font-family: 'myttf';
    src: url('../font/Aamonoline.ttf') format('truetype');
}

html body	{
	margin: 0px;
	padding: 0px;
	font-family: $fontText;
}
#wrapper	{
	width: 100%;
	margin: 0px;
	padding: 0px;
}
a	{text-decoration: none;}
.text	{
	font-size: 18px;
	color: gray;
	font-weight: 300;
}
#section1	{/*header*/
	height: 100vh;
	background: $bg-color1;
	margin: 0;
	padding: 0;
}
#header		{
	position: relative;
	top: 50%;
	transform: translate(0%, -50%);
	text-align: center;
	width: 100%;
}
.headername	{
	font-family: 'mywoff';
	font-size: 7vw;
	margin: 0;
	color: white;
	text-shadow: 1px 1px 10px white;
}
.quote	{
	font-family: 'Advent Pro';
	font-weight: 400;		
	font-size: 2.5vw;
	color: $color1;
	margin: 0;
}
#section2		{}/*nav*/
/*don't forget the script
	.navbg	{background-color: $color1;}
	.navtext	{color: $color1;}*/
nav {
	text-align: center;
	width: 100%;
	height: 40px;
	background-color: $color1;
	z-index: 99;
}
nav ul {
	margin-top: 0px;
	list-style: none;
	padding: 0px;/*stops 40px */
}
nav ul li {
	display: inline-block;
 	width: 120px;
}
nav ul li a {
	position: relative;
	display: block;
	line-height: 40px;
	color: $color;
	font-size: 20px;
	font-family: $fontNav;
	font-weight: 300;
}
.underline::after {
    content: '';
    width: 0px;
    height: 2px;
    background: $color;
    position: absolute;
    bottom: 2px;
    transition: 0.5s ease;
}
.underline:hover::after {width: 100%;}

.left::after  {@extend .underline; right: 0px;}
.left:hover::after  {@extend .underline; right: 0px;}
.center::after  {@extend .underline; left: 50%; right: 50%;}
.center:hover::after  {@extend .underline; left: 0px;}
.right::after  {@extend .underline; left: 0px;}
.right:hover::after  {@extend .underline; left: 0px;}

.stickytop {
    position: fixed;
    top:0;
    right: 0;
    left: 0;
}

#section3	{/*about*/
	background-color: $bg-color;
	padding: 5%  10%  5% 10%;
	text-align: center;
}

#section4		{/*hobbies*/
	background: $bg-color1;
	padding: 20px;
}
#hobbies  {
  width: 100%;
  text-align: center;
}
.hobbie   {
    display: inline-block;
    width: 4%;
    margin: 0px 2% 0px 2%;
}
.hobbieimg	{//temp
	width: 100%;
	height: 100%;
}

#coffeecup	{stroke:$svg; fill: none;stroke-width: 10px;}
#steam	{stroke:$svg; fill: $svg; stroke-width: 12px; animation: steam 2s infinite linear}
@keyframes steam{0%{opacity:1; transform: translateY(0px);}100%{opacity:0;transform: translateY(-30px);}}

#pie	{stroke:$svg; fill: none; stroke-width: 10px;}
#bite	{stroke:$svg; fill: none; stroke-width: 10px; animation: bite 3s infinite linear}
#nobite	{stroke:$svg; fill: none; stroke-width: 10px; animation: nobite 3s infinite linear}
@keyframes bite{0%{opacity:0}1%, 49%{opacity:1;}50%{opacity:0;}100%{opacity:0;}}
@keyframes nobite {0%{opacity:1;}1%, 49%{opacity:0;}50%{opacity:1;}100%{opacity:1;}}

#camera	{stroke:$svg; fill: none; stroke-width: 10px;}
#flash	{stroke: $svg; fill:transparent; stroke-width: 10px; animation: flash 2s infinite linear}
@keyframes flash{0%, 90%{fill: transparent;}100%{fill: $svg;}}

#video	{stroke:$svg; fill: none; stroke-width: 10px;}
#leftreel	{stroke: $svg; stroke-width: 8px; fill: transparent; animation: reel 3s infinite linear}
#rightreel	{stroke: $svg; stroke-width: 8px; fill:transparent; animation: reel 3s infinite linear}
@keyframes reel{0%{transform-origin: 50% 50%; transform: rotate(0deg);}100%{transform-origin: 50% 50%; transform: rotate(360deg);}}

#imac	{stroke:$svg; fill: none; stroke-width: 10px;}
#screen	{stroke: $color1; stroke-width: 8px; fill: transparent; animation: mac 2s infinite linear}
@keyframes mac{0%{stroke: $svg;}50%{stroke: gray;}100%{stroke: $svg;}}

#headphones	{stroke:$svg; fill: none; stroke-width: 10px; animation: headphones 1s infinite linear}
@keyframes headphones{0% {transform:scale(1);transform-origin: center center;}	100%	 {transform:scale(1.04);transform-origin: center center;}}

#section5		{/*expertise*/
 	background-color: $bg-color;
	height: 500px;
// 	box-shadow: inset 0 -10px 40px rgba(0, 0, 0, 0.3);
}

#section6	{/*qualifications*/
	background: $bg-color;
	height: 500px;
}

#section7	{/*portfolio*/
	padding-top: 6%;
	background: $bg-color1;
}
#portfolio  {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
.port   {
    display: inline-block;
    position: relative;
     width: 33.333333333%;
    margin: -4px -4px -0px 0px;
    font-size: 0px;
}
.portimg	{
	width: 100%;
	height: 100%;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0s ease;
	background-color: rgba(0,0,0, .7);
}
.port:hover .overlay {
  opacity: 1;
}
.porttext {
 	color: white;
 	font-size: 20px;
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
}

#section8		{/*files*/
	padding: 20px;
	background: $bg-color1;
}
#cloud  {
 	margin: 0 auto;
 	width: 100%;
 	height: 100%;
 	text-align: center;
 	background: $color;
}
.sky  {
	display: inline-block;
    width: 6%;
    margin: 0px 2% 0px 2%;
}
.cc	{stroke:$svg; fill: none; stroke-width: 8px;}
.sky:hover  .cc	{stroke: red;  transition: 0.4s linear;}

.codepen {stroke:$svg; fill: none; stroke-width: 8px;}
.sky:hover  .codepen {stroke: #4ebefb; transition: 0.4s linear;}

.be	{stroke: $svg; fill: none; stroke-width: 10px;}
.sky:hover .be	{stroke: #1969fb; transition: 0.4s linear;}

.github	{stroke: $svg; fill: none; stroke-width: 10px;}
.sky:hover .github	{stroke: #f4cab2;  transition: 0.4s linear;}

.xd	 {stroke:$svg; fill: none; stroke-width: 10px;}
.sky:hover .xd	{stroke: #e750b9; transition: 0.4s linear;}

.dribbble	{stroke: $svg; fill: none; stroke-width: 10px;}
.sky:hover .dribbble	{stroke: #b3335a; transition: 0.4s linear;}

#section9		{/*experience*/
	background-color: $bg-color;
	height: 500px;
}

// #section10		{/*reference*/
// 	background: $bg-color;
// 	height: 200px;
// }

#section11		{/*cv download*/
	position: relative;
	height: auto;
	padding: 7%;
	background: $bg-color1;
	text-align: center;
}
#cv   {
	position: relative;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 10px;
    width: 10%;
    background: red;
    padding-bottom: 3%;
    font-size: 0px;
}

//-----------------not sure-----------
// #cv	{
// 	position: relative;
// 	top: 50px;
// 	left: 50%;
// 	margin-left: -30px;
// 	width: 60px;
// }
// #cv:hover .cv-text	{
// 	opacity: 0;
// }
// #cv:hover .download	{
// 	opacity: 1;
// }
// .cv-text	{
// 	position: relative;
// 	top: 20px;
// 	font-size: 14px;
// 	text-align: center;
// 	transition: 0.3s linear;
// }
// .download	{
// 	position: absolute;
// 	top: 24px;
// 	left: 8px;
// 	width: 60px;
// 	opacity: 0;
// 	stroke: lime;
// 	stroke-width: 2px;
// 	transition: 0.3s linear;
// }
// .hvr-curl-top-right {
//   display: inline-block;
//   vertical-align: middle;
//   transform: perspective(1px) translateZ(0);
//   box-shadow: 0 0 1px transparent;
//   position: relative;
//   background: white;
//   width: 75px;
//   height: 100px;
//   border-radius: 5px;
// }
// .hvr-curl-top-right:before {
//   pointer-events: none;
//   position: absolute;
//   content: '';
//   height: 10px;
//   width: 0;
//   top: 0;
//   right: 0;
//   background: linear-gradient(225deg, $color1 45%, #aaa 50%, #ccc 56%, white 80%);/*bachground*/
//   box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
//   transition-duration: 0.3s;
//   transition-property: width, height;
// }
// .hvr-curl-top-right:hover:before, .hvr-curl-top-right:focus:before, .hvr-curl-top-right:active:before {
//   width: 25px;
//   height: 25px;
// }

#section12		{/*contact*/
	height: 500px;
	text-align: center;
	padding: 50px;
	background: $bg-color;
}
form {
	position: relative;
	top: 50px;
	text-align: center;
}
input	{
	width: 50%;
	height: 10px;
	padding: 10px;
	font-size: 24px;
	font-family: $fontForm;
	font-weight: bold;
	border-radius: 10px;
	background: $bg-color;
	transition: all 0.5s ease-in;
	border: transparent;
	&:hover	{
		background: $color1;
	}
}
textarea {
  	width: 50%;
  	padding: 10px;
  	font-size: 24px;
	font-family: $fontForm;
	font-weight: bold;	
  	border-radius: 10px;
	border: transparent;
	background: $bg-color;
	transition: all 0.5s ease-in;
	&:hover	{
		background: $color1;
		color: lime;
	}
}
.btn {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: solid 2px lightgray;
  font-size: 22px;
  font-family: $fontForm;
  font-weight: 400;  
  line-height: 3px;
  margin-top: 10px;
  transition: all 0.2s;
  color: $color;
  box-shadow: 0px 5px 10px lightgray;
}
.btn:hover {
  background-color: transparent;
  border: solid 2px lime;
  box-shadow: 0px 5px 10px gray;
}
hr { width: 50%; margin: 0 auto; border: 0; height: 1px; background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }

#section13		{/*hello*/
	background: $bg-color1;
	padding: 20px;
}
#social  {
 	margin: 0 auto;
 	width: 100%;
 	height: 100%;
 	text-align: center;
}
.network   {
	display: inline-block;
    width: 4%;
    margin: 0px 2% 0px 2%;
    transition: all;
}
.networkenvelop   {
	 @extend .network;
}
#facebook {stroke: $svg; fill: transparent; stroke-width: 12px;}
.network:hover #facebook {fill: $svg; transition: 0.2s linear;}

#twitter {stroke: $svg; fill: transparent; stroke-width: 12px;}
.network:hover #twitter {fill: $svg; transition: 0.2s linear;}

#envelop {stroke: $svg; fill: transparent; stroke-width: 12px;}
#open {opacity: 0; stroke:$svg; fill: none; stroke-width: 12px; transition: all 0.2s ease-in;}
#close {opacity: 1; stroke:$svg; fill:none; stroke-width: 12px; transition: all 0.2s ease-in;}
.networkenvelop:hover  #open {opacity: 1; fill: $svg;}
.networkenvelop:hover  #close	{fill: $color;}
.networkenvelop:hover #envelop {fill: $svg;}

#facetime {stroke:$svg; fill: transparent; stroke-width: 12px;}
.network:hover #facetime {stroke: transparent; fill: $svg; transition: 0.2s linear;}

#instagram {stroke: $svg; fill: transparent; stroke-width: 12px;}
#instagramlens {stroke: $svg; fill: transparent; stroke-width: 12px;}
.network:hover #instagram {stroke: $svg; fill: $svg; transition: 0.2s linear;}
.network:hover #instagramlens {stroke: $color; transition: 0.2s linear;}

#section14		{/*mouse*/
	position: relative;
	background: $bg-color;
	height: 100px;
}
.mousetext	{
	font-family: 'Poiret One';
	font-size: 14px;
	color: gray;
	margin-top: 40px;
	font-weight: bold;
	margin-left: -1px;
}
.mouse{
	position: relative;
	top: 25px;
	left: 50%;
	margin-left: -12px;
	width: 22px;
	height: 35px;
	border:2px solid lightgray;
	border-radius: 20px;
  	text-align: center;
  	box-shadow: 0px 0px 5px lightgray;
  	transition: all 0.3s;
  	&:hover	{border: 2px solid $color1; box-shadow: 0px 0px 5px gray;}
}
#scroll{
	width: 0px;
	height: 0px;
	margin-left: 7px;
// 	margin-left: 5px;
// 	background-color: $color1;
// 	border:2px solid transparent;

    border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid $color1;
	
// 	border-radius: 5px;
	animation: scroll 1.5s infinite both;
}
@keyframes scroll{0%{opacity:1; transform:translateY(20px);}100%{opacity:0.4; transform:translateY(6px);}}

#section144		{
	height: 400px;
	background: transparent;
}

#section15		{/*draw*/
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 400px;
	background: $color1;
	z-index: -1;
	text-align: center;
}
#footer		{
	position: relative;
	top: 40%;
	text-align: center;
	width: 100%;
}
#footername	{
	font-family: $fontTitle;
	font-size: 40px;
	margin: 0px 0px 0px 8px;
	color: white;
}
#designby	{
	position: relative;
	color: white;
	font-size: 10px;
	font-family: 'Poiret One';
}
.pipe {
	position: relative;
	top: -8px;
	margin-left: 5px;
	display: inline;
	width: 30px;
 	stroke-dasharray: 2000;
 	stroke-dashoffset: 0;
 	animation: dash 4s linear infinite 0.5s; /*forwards;*/
}
@keyframes dash 	{from	{stroke-dashoffset: 2000;}to	{stroke-dashoffset: 0;}}

@media (max-width: 600px) {
#section1	{height: 200px;}
#header		{top: 60%;}
.headername	{font-size: 9vw;}//check this
	nav ul li 	{width: 80px;}
	nav ul li a {	font-size: 16px;}
#section3	{font-size: 12px;}
	nav		{position: fixed; top:0;}
	.sky		{width: 10%;}
	.hobbie	{width: 10%;}
#section7	{padding-top: 10%;}//maybe
#section12	{padding: 0px;}
	input		{width: 70%;}
	textarea	{width: 70%;}
	hr 			{width: 70%;}
}
