<!DOCTYPE html>

<html lang="en">
	
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="robots" content="noindex,nofollow">
	<meta name="keywords" content=""/>
	<meta name="description" content="">
	<meta name="author" content="edward fellows"/>
	<link rel="stylesheet" href="css/css.css"/>
	<link href='http://fonts.googleapis.com/css?family=Antic|Homemade+Apple' rel='stylesheet' type='text/css'>
	<title>html/css</title>
</head>

<body>
    
	<div id="wrapper">
	
	<div id="design"><a href="http://www.edwardfellows.co.uk"><p>design by me</p><img class="pipe" src="img/pipe.ico" alt="ce n'est pas moi" title="ce n'est pas moi" /></a></div>
	
    </div>
    
</body>
    
</html>