/*colour of outter background plus 20% lighter on expandable pages & toggle button*/
/*colour of text*/
/*links*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Aladin', cursive;
}

body {
  background-color: #3BFF00;
}

#wrapper {
  margin: 0 auto;
  width: 100%;
  height: auto;
  background-color: #2fcc00;
  text-align: center;
}

.stickytop {
  position: fixed;
  top: 0;
  width: 100%;
}

header {
  text-align: center;
  background: #3BFF00;
  width: 100%;
  height: 400px;
  padding-top: 150px;
  box-sizing: border-box;
}

.ab {
  font-family: 'Aladin', cursive;
  font-size: 46px;
  color: #186600;
}

nav {
  background: #3BFF00;
}

nav ul {
  position: relative;
  text-align: center;
  min-width: 100px;
}

nav ul li {
  display: inline-block;
}

nav ul li:hover {
  background-color: #186600;
}

nav ul li:hover ul {
  display: block;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #186600;
  min-width: 100px;
  padding: 15px;
}

nav ul li a:hover {
  color: white;
}

.toggle {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  font-size: 25px;
  color: white;
  text-decoration: none;
  text-align: center;
}

hr {
  width: 80%;
  margin: 0 auto;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent);
}

#sectionone {
  height: auto;
  width: 100%;
}

#description {
  color: #239900;
  padding: 5%;
  box-sizing: border-box;
  text-align: center;
}

#description ul {
  list-style: none;
}

#sectiontwo {
  height: 500px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

#sectionthree {
  height: 500px;
  width: 100%;
  padding-top: 100px;
  box-sizing: border-box;
  background-color: #35e600;
}

#sectionfour {
  height: 500px;
  width: 100%;
  padding-top: 100px;
  box-sizing: border-box;
  background-color: white;
}

#sectionfive {
  height: 500px;
  width: 100%;
  padding-top: 100px;
  box-sizing: border-box;
  background-color: #35e600;
}

#sectionsix {
  height: 500px;
  width: 100%;
  padding-top: 100px;
  box-sizing: border-box;
  background-color: white;
}

/*nav footer*/
/*footer ul {	position: relative;	text-align: center;	min-width: 100px;	li {		&:hover {			background-color: darken($color, 5%);			ul {				display: block;			}		}		a {			display: block;			text-decoration: none;			color: $color2;			min-width: 100px;			padding: 15px;			&:hover {				color: $color2;			}		}ul {			position: absolute;			display: none;			background: darken($color, 5%);			text-align: center;			min-width: 100px;						top: auto;			bottom: 100% !important;/*not sure why this works*/
/*			li {				display: block;				&:hover {						background-color: lighten($color, 10%);				}			}		}	}}*/
#design {
  padding-top: 30px;
  padding-bottom: 70px;
}

#design p {
  font-size: 8px;
  font-family: 'Aladin', cursive;
  line-height: 6px;
  color: white;
}

#design a {
  text-decoration: none;
}

.pipe {
  width: 10px;
  height: 10px;
}

@media (max-width: 600px) {
  .toggle {
    display: block;
  }
  nav ul li {
    width: 100%;
  }
  wrapper {
    min-width: 500px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    display: block;
    width: 100%;
  }
}

@media (max-width: 320px) {
  nav {
    min-width: 320px;
  }
  wrapper {
    min-width: 320px;
  }
  body {
    min-width: 320px;
    overflow-x: hidden;
  }
}

/*# sourceMappingURL=css.map */