*	{
	margin: 0px;
	padding: 0px;
	font-family: 'Antic';
	box-sizing: border-box;
}

body	{
  background-color: white;
}

#wrapper {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: auto;
  background-color: white;
}


.sidebar
{  
  float:left; 
  width:auto; 
  height:9500px; 
  background: #9c9f84; 
  border-left: solid 2px #000; 
  border-bottom: solid 2px #000;
  border-bottom-left-radius:1em;
}


