<!DOCTYPE html>

<html lang="en">
	
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="robots" content="noindex,nofollow">
	<meta name="keywords" content=""/>
	<meta name="description" content="">
	<meta name="author" content="edward fellows"/>
	<link rel="stylesheet" href="css/css.css"/>
	<title>html/css</title>
</head>

<body>
	    
	<div id="wrapper"></div>
        
</body>
    
</html>
    

<!--CSS-->

*{
margin: 0;
padding:0;
border: 0;
}

body {
    text-align: center;
}

#wrapper {
    background-color: white;
    margin: 0 auto;
    width: 960px;
    height: auto;
    box-sizing: border-box;/*padding*/
}